<!DOCTYPE html>
<html>
	<head>
	<style>
		* {
		box-sizing: border-box;
		}
	</style>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/cv/cv_all.pdf">CV</a></li>
        		<li><a href="/research">Research</a></li>
				<li><a href="/outreach">Outreach</a></li>
        		<li><a href="/personal">Personal</a></li>
    		</ul>
		</nav>

		<div class="row">
			<div class="column">
					<h1>{{ page.title }}</h1>
			</div><!-- /.column left -->
			<div class="column"style="position:relative; left: 20%;">
				<img src="/assets/headshot.jpg", width="188", height="215">
			</div><!-- /.column right-->
		</div><!-- /.row-->

		{{ content }}

		<footer>
			<div class="footer_outer">
			  <div class="footer_inner_left">
				<ul>
	          		<li><a href="mailto:codydirks2017@u.northwestern.edu">email</a></li>
	          		<li><a href="https://github.com/codydirks">github</a></li>
	  			</ul>
			  </div>
			  <div class="footer_inner_right">
				<ul>
					<li style="float:right;">
						<a href="https://www.instagram.com/codydirks/">
							<img src="/assets/instagram.png", width="40",height="40",style="margin: 0px 20px">
						</a>
					</li>
				  	<li style="float:right;">
						<a href="https://twitter.com/codydirks">
							<img src="/assets/twitter.png", width="40",height="40",style="margin: 0px 20px">
						</a>
					</li>
				</ul>
			  </div>
			</div>
		</footer>
	</body>
</html>
